<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Sensitive File Distribution</h2>
<p><span class="important_info"></span> files were found to have sensitive information on them.</p>
<p>The following folders contain the most sensitive files.</p>
<figure><img src="{{ template_dict['graph_file_name'] }}" class="bar_graphs"><figcaption>The above graph outlines the distribution of sensitive documents and their locations within the folders of</figcaption></figure>

<div class="information_box">
<p>The total counts for the top folders:</p>
    <ul>
{% for k, v in template_dict['sens_subcat_dict'].items() %}
        {% if loop.index <= 10 %}
        <li>{{ k }}: <b>{{ v }}</b></li>
        {% endif %}
{% endfor %}
        </ul>
</div>

<div class="page_break_div"></div>
</body>
</html>
